/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 30em;
    width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align:center;
    font-family: "微軟正黑體";
}



.infowindow-title{
    font-size:1.3em;
    text-align: left;
    font-weight:bold;
}

.infowindow-content{
    font-size:1em;
    text-align: left;
}

.row{
    padding-bottom:1em;
}

.table{
    border: solid 0.1em #333;
    table-layout: fixed;
    word-break: break-all;
}

.info-tbody tr{ cursor: pointer; }
.info-form{
    padding:0.2em;
}

.info-tbody button{
    margin-left:0.5em;
}